/**
 * Primary category buttons and labels
 */
.make-primary {
    float: right;
}
.make-primary.primary {
    font-weight: bold;
    color: #0073aa;
}

/**
 * Category list formatting fix for long category names
 */
#categorychecklist li {
    display: inline-block;
    width: 100%;
}